@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400');


body {
  font-family: Roboto;
  font-weight: 300;
  padding: 0 24px;
}

h1 {
  font-weight: 400;
  padding-bottom: 20px;
}

.letters {
  padding-left: 0;
  padding-bottom: 20px;
  font-size: 24px;
  list-style: none;
  font-family: monospace;
  li {
    background-color: #ec993f;
    color: white;
    border: 1px solid black;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 4px 10px;
    display: inline;
    margin: 10px;
  }
}

.form-prefix {
  margin-top: 2em;
}

